.hero {
  padding: 118px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-960.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-768.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-1536.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 200px 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-1600.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-3200.jpg);
    }
  }

  .hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-white);

    @media screen and (min-width: $desktop) {
      max-width: 696px;

      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }

  .button {
    @extend %button;
  }
}
