.button-menu {
  display: inline-flex;
  margin: 0 -8px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &__icon {
    fill: var(--color-secondary);
    transition: fill var(--anim-dur) var(--main-cubic);
  }

  &__icon:hover,
  &__icon:focus {
    fill: var(--color-accent);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
