.footer-contacts {
  @extend %list;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-contacts__item:last-child {
  margin: 0 0 60px;

  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.footer-contacts__link {
  display: block;
  @extend %link;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  font-style: normal;

  color: var(--color-tel-email-footer);
  transition: color var(--anim-dur) var(--main-cubic);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &--white {
    color: var(--color-white);
  }
}

/* Футер контакти 
.footer-contacts {
    @extend %list;
}

.footer-contacts__item {
    display: flex;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-contacts__link {
    @extend %link;
    
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    font-style: normal;

    color: var(--color-tel-email-footer);
    transition: color var(--anim-dur) var(--main-cubic);

    &:hover,
        &:focus {
            color: var(--color-accent);
        }
    
        &--white {
            color: var(--color-white);
        }
}
*/
