.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  background-color: var(--color-bg-dark);

  @media screen and (min-width: $tablet) {
    .footer__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @media screen and (min-width: $desktop) {
    .footer__container {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

/* Футер 
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--color-bg-dark);

    .footer__container {
        @include centeringFlexbox($al-items: baseline, $just-cont: flex-start);
        }
    
        .footer__blok {
            margin-right: 70px;
        }
}
*/
