.footer-form__text {
    @extend %title-uppercase;

    margin-bottom: 20px;

    color: var(--color-white);
}

.footer-form__input {
    margin-bottom: 20px;
    padding: 15px 16px;

    width: 450px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--color-bg-dark);
    color: var(--color-white);
    transition: filter var(--anim-dur) var(--main-cubic),
        border-color var(--anim-dur) var(--main-cubic), outline-color var(--anim-dur) var(--main-cubic);

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-color: var(--color-accent);
        outline-color: var(--color-accent);
    }

    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form__button {
    @extend %button;
    @include centeringFlexbox();
    margin: 0 auto;

    .button__icon {
        margin-left: 10px;
    }
}

/* Футер форма підпишіться на розсилку 
.footer-form {
    margin-left: auto;

    .footer-form__text {
        @extend %title-uppercase;
        
            margin-bottom: 20px;
    
            color: var(--color-white);
        }

                .footer-form__box {
                    @include centeringFlexbox($just-cont: flex-start);
                }
}

.footer-form__input {
    margin-right: 12px;
    padding: 15px 16px;

    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--color-bg-dark);
    color: var(--color-white);
    transition: filter var(--anim-dur) var(--main-cubic),
        border-color var(--anim-dur) var(--main-cubic), outline-color var(--anim-dur) var(--main-cubic);

        &:hover,
            &:focus,
            &:not(:placeholder-shown) {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                border-color: var(--color-accent);
                outline-color: var(--color-accent);
            }
        
            &::placeholder {
                font-size: 16px;
                line-height: calc(20 / 16);
                letter-spacing: 0.03em;
        
                color: rgba(255, 255, 255, 0.6);
            }
}

.footer-form__button {
    @extend %button;
    
    @include centeringFlexbox();
    
    .button__icon {
            margin-left: 10px;
        }
}
*/