.footer {
    padding-top: 60px;
        padding-bottom: 60px;
        min-width: $mobile;

        text-align: center;

    background-color: var(--color-bg-dark);
}

/* Футер 
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--color-bg-dark);

    .footer__container {
        @include centeringFlexbox($al-items: baseline, $just-cont: flex-start);
        }
    
        .footer__blok {
            margin-right: 70px;
        }
}
*/