/* Хедер список контактів */
.header-contacts {
  @extend %list;

  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;

    .header-contacts__link-email {
      padding: 21px 0 5px;
    }

    .header-contacts__link-tel {
      padding: 5px 0 21px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;

    .header-contacts__link-email {
      margin-right: 40px;
      padding: 32px 0;
    }

    .header-contacts__link-tel {
      padding: 32px 0;
    }
  }

  .header-contacts__link {
    @extend %link;
    @include centeringFlexbox($just-cont: flex-start);

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;

    color: var(--color-primary);
    transition: color var(--anim-dur) var(--main-cubic);

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: calc(16 / 14);
    }

    &:hover,
    &:focus {
      color: var(--color-accent);
    }

    .header-contacts__icon {
      margin-right: 10px;
      fill: currentColor;
    }

    @media screen and (min-width: $desktop) {
      .header-contacts__icon-email {
        width: 16px;
        height: 12px;
      }

      .header-contacts__icon-tel {
        height: 16px;
      }
    }
  }
}
