.header {
  min-width: $mobile;

  border-bottom: 1px solid var(--color-header-strip);
}

.header__nav-wrapper {
  @media screen and (max-width: 767px) {
    @include centeringFlexbox($just-cont: space-between);
  }
}

/* Хедер 
.header {
    border-bottom: 1px solid var(--color-header-strip);
    
    /* Хедер головна навігація 
        .header__nav-wrapper {
            @include centeringFlexbox($just-cont: flex-start);
        }
    
        .header__nav {
            display: flex;
        }
}
*/
