.header__logo {
  @extend %logo;
  @extend %link;

  padding: 16px 0;

  .logo__studio-black {
    color: var(--color-black);
  }
  @media screen and (min-width: $tablet) {
    padding: 26px 0;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px 0 25px 0;
    margin-right: 93px;
  }
}
