.header__logo {
    @extend %logo;
    @extend %link;

    padding-top: 16px;
    padding-bottom: 16px;

    .logo__studio-black {
        color: var(--color-black);
    }
}


/* Хедер лого 
.header__logo {
    @extend %logo;
    @extend %link;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    .logo__studio-black {
            color: var(--color-black);
        }
}
*/