.header {
  border-bottom: 1px solid var(--color-header-strip);
}

.header__nav-wrapper {
  @media screen and (max-width: ($tablet - 0.5px)) {
    @include centeringFlexbox($just-cont: space-between);
  }

  @media screen and (min-width: $tablet) {
    @include centeringFlexbox($just-cont: flex-start);
  }
}

.header__nav {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

/* Хедер 
.header {
    border-bottom: 1px solid var(--color-header-strip);
    
    /* Хедер головна навігація 
        .header__nav-wrapper {
            @include centeringFlexbox($just-cont: flex-start);
        }
    
        .header__nav {
            display: flex;
        }
}
*/
