/* Секція приклади наших робіт */
.examples {
    @extend %list;
    
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));

    .examples__item {
            margin-top: var(--card-set-gap);
            margin-left: var(--card-set-gap);
            flex-basis: calc(100% / 3 - var(--card-set-gap));
        }
}

.examples__link {
    @extend %link;
    
    display: block;

    transition: box-shadow var(--anim-dur) var(--main-cubic);

    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.project {
    position: relative;

    width: 370px;
    height: 294px;

    overflow: hidden;
}

.project__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 63px 24px;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform var(--anim-dur) var(--main-cubic);

    .examples__link:hover &,
        .examples__link:focus & {
            transform: translateY(0);
        }

                .project__overlay-text {
                    font-size: 18px;
                    line-height: calc(28 / 18);
                    letter-spacing: 0.03em;
        
                    color: var(--color-white);
                }
}

.project__sign {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    width: 370px;
    height: 110px;

    .project__title {
            margin-bottom: 4px;
    
            font-size: 18px;
            line-height: calc(36 / 18);
            letter-spacing: 0.06em;
            color: var(--color-secondary);
        }
    
        .project__text {
            font-size: 16px;
            line-height: calc(30 / 16);
            letter-spacing: 0.03em;
        }
}