/* Базові налаштування */
body.modal-open {
  overflow: hidden;

  @media screen and (min-width: $desktop) {
    overflow: auto;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-white);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
