/* Змінні */
:root {
    --card-set-gap: 30px;
    --anim-dur: 250ms;
    --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --color-primary: #757575;
    --color-secondary: #212121;
    --color-accent: #2196f3;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bg-light: #f5f4fa;
    --color-bg-dark: #2f303a;
    --color-button-active: #188ce8;
    --color-icon-bg: #afb1b8;
    --color-header-strip: #ececec;
    --color-tel-email-footer: rgba(255, 255, 255, 0.6);
}